<body style="background-color:black;">
    <br>
    <div class="container", style="color:#1DB954;">
        <h2 class="d-flex justify-content-center">Contacts</h2><br>
        <h4>GRIGORE ANDREI</h4>
        <div style="color:white;">
            <h5>email: grigore.1953878@studenti.uniroma1.it</h5>
            <h5>matricola: 1953878</h5><br>
        </div>
        <h4>IACOBELLI MARIO</h4>
        <div style="color:white;">
            <h5>email: iacobelli.1841427@studenti.uniroma1.it</h5>
            <h5>matricola: 1841427</h5><br>
        </div>
        <h4>MANGIERI DOMENICO</h4>
        <div style="color:white;">
            <h5>email: mangieri.1883920@studenti.uniroma1.it</h5>
            <h5>matricola: 1883920</h5><br>
        </div>
    </div>
</body>