<body style="background-color:black;">
    <br>
    <div class="container", style="color:#1DB954;">
        <h2 class="d-flex justify-content-center">Contacts</h2><br>
        <h5>GRIGORE ANDREI</h5>
        <div style="color:lightgrey;">
            <p>email: grigore.1953878@studenti.uniroma1.it</p><br>
        </div>
        <h5>IACOBELLI MARIO</h5>
        <div style="color:lightgrey;">
            <p>email: iacobelli.1841427@studenti.uniroma1.it</p><br>
        </div>
        <h5>MANGIERI DOMENICO</h5>
        <div style="color:lightgrey;">
            <p>email: mangieri.1883920@studenti.uniroma1.it</p><br>
        </div>
    </div>
</body>