
<body style="background-color:black;">
    <img src="/assets/background.jpg" class="opacity-50" style="position: fixed; top: 10; left: 0; width: 100%; height: 100%; z-index: -1;">
    <br>
    <div class="container", style="color:#1DB954;">
        <h2 class="d-flex justify-content-center">Contacts</h2>
        <br><br>
        <h3>Grigore Andrei</h3>
        <div style="color:lightgrey;">
            <h4></i><i class="bi bi-envelope-at"></i>⠀grigore.1953878@studenti.uniroma1.it</h4><br>
        </div>
        <br>
        <h3>Iacobelli Mario</h3>
        <div style="color:lightgrey;">
            <h4></i><i class="bi bi-envelope-at"></i>⠀iacobelli.1841427@studenti.uniroma1.it</h4><br>
        </div>
        <br>
        <h3>Mangieri Domenico</h3>
        <div style="color:lightgrey;">
            <h4></i><i class="bi bi-envelope-at"></i>⠀mangieri.1883920@studenti.uniroma1.it</h4><br>
        </div>
    </div>
</body>