
<h1 class="d-flex justify-content-center">About us:</h1>
<br>
<h3 class="d-flex justify-content-right">Andrei Grigore</h3>
<h4>Email: grigore.1953878@studenti.uniroma1.it</h4><br>
<h3 class="d-flex justify-content-right">Domenico Mangieri</h3>
<h4>Email: mangieri.1953878@studenti.uniroma1.it</h4><br>
<h3 class="d-flex justify-content-right">Mario Iacobelli</h3>
<h4>Email: iacobelli.1841427@studenti.uniroma1.it </h4><br>
