
<body style="background-color:black;">
    <br>
    <div class="container", style="color:#1DB954;">
        <h1 class="d-flex justify-content-center">Contacts</h1>
        <br><br>
        <h2>Grigore Andrei</h2>
        <div style="color:lightgrey;">
            <h4>email: grigore.1953878@studenti.uniroma1.it</h4><br>
        </div>
        <br>
        <h2>Iacobelli Mario</h2>
        <div style="color:lightgrey;">
            <h4>email: iacobelli.1841427@studenti.uniroma1.it</h4><br>
        </div>
        <br>
        <h2>Mangieri Domenico</h2>
        <div style="color:lightgrey;">
            <h4>email: mangieri.1883920@studenti.uniroma1.it</h4><br>
        </div>
    </div>
</body>