
<body style="background-color:black;">
    <br>
    <div class="container", style="color:#1DB954;">
        <h2 class="d-flex justify-content-center">Contacts</h2>
        <br><br>
        <h3>Grigore Andrei</h3>
        <div style="color:lightgrey;">
            <h4>email: grigore.1953878@studenti.uniroma1.it</h4><br>
        </div>
        <br>
        <h3>Iacobelli Mario</h3>
        <div style="color:lightgrey;">
            <h4>email: iacobelli.1841427@studenti.uniroma1.it</h4><br>
        </div>
        <br>
        <h3>Mangieri Domenico</h3>
        <div style="color:lightgrey;">
            <h4>email: mangieri.1883920@studenti.uniroma1.it</h4><br>
        </div>
    </div>
</body>