<body style="background-color:#1DB954;">
    <br>
    <h2 class="d-flex justify-content-center">About us</h2>
    <br><br>
    <h4 class="d-flex justify-content-center">GRIGORE ANDREI</h4>
    <h5 class="d-flex justify-content-center">email: grigore.1953878@studenti.uniroma1.it</h5>
    <h5 class="d-flex justify-content-center">matricola: 1953878</h5>
    <br>
    <h4 class="d-flex justify-content-center">IACOBELLI MARIO</h4>
    <h5 class="d-flex justify-content-center">email: iacobelli.1841427@studenti.uniroma1.it</h5>
    <h5 class="d-flex justify-content-center">matricola: 1841427</h5>
    <br>
    <h4 class="d-flex justify-content-center">MANGIERI DOMENICO</h4>
    <h5 class="d-flex justify-content-center">email: mangieri.1883920@studenti.uniroma1.it</h5>
    <h5 class="d-flex justify-content-center">matricola: 1883920</h5>
    <br>
    
</body>