<body style="background-color:#1DB954;">
    <br>
    <h2 class="d-flex justify-content-center">about us</h2>
    <br><br>
    <h3 class="d-flex justify-content-center">Grigore Andrei</h3>
    <h5 class="d-flex justify-content-center">grigore.1953878@studenti.uniroma1.it</h5><br>
    <h3 class="d-flex justify-content-center">Iacobelli Mario</h3>
    <h5 class="d-flex justify-content-center">iacobelli.1841427@studenti.uniroma1.it </h5><br>
    <h3 class="d-flex justify-content-center">Mangieri Domenico</h3>
    <h5 class="d-flex justify-content-center">mangieri.1883920@studenti.uniroma1.it</h5><br>
    
</body>