
<% if user_signed_in? %>
    <h1 class="d-flex justify-content-center">Welcome back to Untuned</h1>
<% else %>
    <h1 class="d-flex justify-content-center">Welcome to Untuned</h1><br>
    <p class="d-flex justify-content-center">Don't have an account yet?</p>
    <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-outline-dark">
        <%= link_to "Sign up", signup_path%>
        </button>
    </div>
<% end %>
