
<body style="background-color:black;">
    <div calss="container", style="color:white;"><br>
        <% if user_signed_in? %>
            <h2 class="d-flex justify-content-center", style="color:#1DB954;">
                Hi <%= current_user.name%>, welcome back to Untuned
            </h2>
        <% else %>
            <h2 class="d-flex justify-content-center", style="color:#1DB954;">
                Welcome to Untuned
            </h2><br>
            <p class="d-flex justify-content-center">Don't have an account yet?</p>

            <div class="d-flex justify-content-center">
                <%= link_to "Sign up", signup_path, class:"btn btn-outline-success"%>
                <%= link_to "Continue as a guest", posts_path, class:"btn btn-outline-success"%>
            </div>
        <% end %>
    </div>
</body>