
<body style="background-color:#1DB954;">
    <% if user_signed_in? %>
        <br>
        <h1 class="d-flex justify-content-center">Welcome back to Untuned</h1>
    <% else %>
        <br>
        <h1 class="d-flex justify-content-center">Welcome to Untuned</h1><br>
        <p class="d-flex justify-content-center">Don't have an account yet?</p>
        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-outline-dark">
            <%= link_to "Sign up", signup_path%>
            </button>
            <button type="button" class="btn btn-outline-dark">
            <%= link_to "Continue as a guest", posts_path%>
            </button>
        </div>
    <% end %>
</body>