<div id="<%= dom_id comment %>", class="d-flex justify-content-center">
  <article>
    <p>
      <%= comment.content %>
      <small>by <%= comment.user_id.username %></small>
    </p>
  </article>
  <hr>
</div>
