
<form action="<%= post_comments_path(@post)%>" method="post">
    <textarea name="comment[body]" rows="5" class="form-control"></textarea>
    <div class="d-flex justify-content-right">
        <input type="submit" value="Submit comment" class="btn btn-outline-success w-100">
        <br><br>
    </div>
</form>