<body style="background-color:black">
    <div class="container", style="color:lightgrey;">
        <div class="row">
            <div class="col-md-2">
                <div><br>
                    <%= link_to "< Back to post", post_path(@post), class:"btn btn-outline-light" %>
                </div>
            </div>
            <div class="col-md-8 d-flex justify-content-center">
                <div><br>
                    <h2 class="d-flex justify-content-center", style="color:#1DB954;">Editing comment</h2>
                </div>
            </div>
        </div>
        <br><br>
        <%= form_for([@post, @comment]) do |f|%>
            <%= f.text_area :body, class:"form-control", rows:"10"%>
            <%= f.submit 'Submit Comment', class:"btn btn-outline-success w-100"%>
        <% end %>
    </div>
</body>