
<body style="background-color:black;">
    <div class="text-center">
        <br>
        <h2 style="color:#1DB954">Followers</h2>
        <br>
    </div>

    <div class="container", style="color:lightgrey;">
        <% current_user.user_followers.each do |user| %>
            <h2 class="d-flex justify-content-center">
                <% if user.image.attached? %>
                    <%= image_tag(user.image, style: "display: inline-block; height: 50px; width: 50px; object-fit:cover; border-radius: 50%;")%>
                <% else %>
                    <img src="/assets/default_picture.jpg" display="inline-block" height="50px" width="50px" object-fit="cover" border-radius="50%">
                <% end %>⠀
                <%= link_to user.username, user_path(user.username), class:"btn w-50 btn-outline-light btn-lg"%>
            </h2>
        <% end %>
    </div>
    <br>
    <div class="text-center">
        <%= link_to "Back to my profile", user_path(current_user.username), class:"btn btn-outline-light"%>
    </div><br>
</body>