<body style="background-color:black">
  <div class="container", style="color:lightgrey;"><br>
    <h2 class="d-flex justify-content-center", style="color:#1DB954;">New post</h2>

    <%= render "form", post: @post %>

    <br>

    <div>
      <%= link_to "Back to posts", posts_path %>
    </div>
  </div>
</body>
